*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
     background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    width: 70px;
    height: 50px;
}
.navigation a{
    text-decoration: none;
    color: #3a6cf4;
    font-size: 20px;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color:#601cfc ;
    font-size: 1.3em;
}

section{
    padding:100px 200px 0 200px;
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section-1 img{
    height: 300px;
    width: 100%;
    align-items: center;
}
.section-1-content{
    text-align: center;
    width: 100%;
}
.title{
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 7px;
    text-align: center;
}
.section-1-content p{
    font-size: 20px;
    line-height: 1.5;
}
.form-contact div{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-items: center;
    margin: 10px;
}
.form-contact div label{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    font-weight: 800;
}

.section-2 .title{
    margin-bottom: 70px;
    color: #3a6cf4;
}
/* Fotter */
.footer{
    display: flex;
    justify-content: center;
    background-color: #636363;
    margin-top: 50px;
}
.footer-content{
    padding: 20px 0;
    font-size: 20px;
}
.button-sec{
    display: flex; 
    justify-content: center; 
    margin: 30px; 
}
hr{

    margin: 50px 100px 0 100px;
}
.mohm-span{
    color: #3a6cf4;
}
